{# templates/film/read.html.twig #}

<div class="row">
    <div class="col-md-8">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <strong>Année :</strong> {{ film.year }}
            </li>
            <li class="list-group-item">
                <strong>Type :</strong> {{ film.type }}
            </li>
            <li class="list-group-item">
                <strong>Réalisateur :</strong> {{ film.director }}
            </li>
            <li class="list-group-item">
                <strong>Synopsis :</strong>
                <p class="mt-2">{{ film.synopsis }}</p>
            </li>
            <li class="list-group-item">
                <strong>Ajouté le :</strong> {{ film.createdAt|date('d/m/Y H:i') }}
            </li>
            <li class="list-group-item">
                <strong>Mis à jour le :</strong> {{ film.updatedAt ? film.updatedAt|date('d/m/Y H:i') : 'Non mis à jour' }}
            </li>
        </ul>
    </div>
</div>